In [ ]:
import requests
import json
import pandas as pd
import numpy as np
import io
import time

In [50]:
from google.colab import files
uploaded = files.upload()

Saving stocklist.csv to stocklist (3).csv

In [51]:
df = pd.read_csv(io.StringIO(uploaded['stocklist.csv'].decode('utf-8')))
df

          A
0        AA
1     AACAY
2     AAGIY
3       AAL
4       AAN
...     ...
3070    ZTO
3071    ZTS
3072   ZUMZ
3073    ZUO
3074   ZYME

[3075 rows x 1 columns]

In [ ]:
df_date = pd.DataFrame()
df_open = pd.DataFrame()
df_high = pd.DataFrame()
df_low = pd.DataFrame()
df_close = pd.DataFrame()
df_adj_close = pd.DataFrame()
df_volume = pd.DataFrame()
df_fundamentals = pd.DataFrame(
    columns=['Market Cap', 'EPS', 'Shares Outstanding'])

In [ ]:
counter = 0
failed_stocks = []
try:
    for x in range(len(df['A'])):
        url = "https://query1.finance.yahoo.com/v8/finance/chart/{0}?formatted=true&crumb=GcJrJyjL%2FGZ&lang=en-US&region=US&interval=1d&period1=0&period2=1583798400&events=div%7Csplit&corsDomain=finance.yahoo.com".format(
            df['A'].iloc[x])
        response = requests.get(url)
        if response.status_code == 200:
            data = json.loads(response.text)
            timestamp = data['chart']['result'][0]['timestamp']

            tradedate = [
                time.strftime('%Y-%m-%d', time.localtime(a)) for a in timestamp
            ]
            dailyopen = data['chart']['result'][0]['indicators']['quote'][0][
                'open']
            dailyhigh = data['chart']['result'][0]['indicators']['quote'][0][
                'high']
            dailylow = data['chart']['result'][0]['indicators']['quote'][0][
                'low']
            dailyclose = data['chart']['result'][0]['indicators']['quote'][0][
                'close']
            dailyadjclose = data['chart']['result'][0]['indicators'][
                'adjclose'][0]['adjclose']
            dailyvolume = data['chart']['result'][0]['indicators']['quote'][0][
                'volume']

            db_stock_data = [
                (tradedate[x], dailyopen[x], dailyhigh[x], dailylow[x],
                 dailyclose[x], dailyadjclose[x], dailyvolume[x])
                for x in range(len(tradedate))
            ]

            stock_df = pd.DataFrame(db_stock_data,
                                    index=timestamp,
                                    columns=[
                                        'Date', 'Open', 'High', 'Low', 'Close',
                                        'Adj Close', 'Volume'
                                    ])
            df_date[df['A'].iloc[x]] = stock_df['Date']
            df_open[df['A'].iloc[x]] = stock_df['Open']
            df_high[df['A'].iloc[x]] = stock_df['High']
            df_low[df['A'].iloc[x]] = stock_df['Low']
            df_close[df['A'].iloc[x]] = stock_df['Close']
            df_adj_close[df['A'].iloc[x]] = stock_df['Adj Close']
            df_volume[df['A'].iloc[x]] = stock_df['Volume']

            counter += 1
            print('Successfully added', df['A'].iloc[x])
except:
    print('Failed to get data for', df['A'].iloc[x])
    failed_stocks.append([df['A'].iloc[x]])

In [39]:
counter

3026

In [43]:
df_close['AAPL']

138600               NaN
397800               NaN
484200               NaN
570600               NaN
657000               NaN
                 ...
1583245800    289.320007
1583332200    302.739990
1583418600    292.920013
1583505000    289.029999
1583760600    266.170013
Name: AAPL, Length: 12659, dtype: float64

In [44]:
failed_stocks

[]

In [7]:
from google.colab import drive
drive.mount('drive', force_remount=True)

Mounted at drive

In [ ]:
df_date.to_csv('Date.csv')
df_open.to_csv('Open.csv')
df_high.to_csv('High.csv')
df_low.to_csv('Low.csv')
df_close.to_csv('Close.csv')
df_adj_close.to_csv('Adj_close.csv')
df_volume.to_csv('Volume.csv')


!cp Date.csv "drive/My Drive/Other/stocks_dataset/"
!cp Open.csv "drive/My Drive/Other/stocks_dataset/"
!cp High.csv "drive/My Drive/Other/stocks_dataset/"
!cp Low.csv "drive/My Drive/Other/stocks_dataset/"
!cp Close.csv "drive/My Drive/Other/stocks_dataset/"
!cp Adj_close.csv "drive/My Drive/Other/stocks_dataset/"
!cp Volume.csv "drive/My Drive/Other/stocks_dataset/"

In [ ]:
df_volume.to_csv('Volume.csv')
df_date.to_csv('Date.csv')

!cp Date.csv "drive/My Drive/Other/stocks_dataset/"
!cp Volume.csv "drive/My Drive/Other/stocks_dataset/"

In [ ]:
counter = 0
failed_stocks = []

for x in range(len(df['A'])):
    try:
        url = 'https://query2.finance.yahoo.com/v7/finance/quote?formatted=true&crumb=GcJrJyjL%2FGZ&lang=en-US&region=US&symbols={0}&corsDomain=finance.yahoo.com'.format(
            df['A'].iloc[x])
        response = requests.get(url)
        if response.status_code == 200:
            data = json.loads(response.text)
            marketCap = data['quoteResponse']['result'][0]['marketCap']['raw']
            eps = data['quoteResponse']['result'][0]['epsTrailingTwelveMonths'][
                'raw']
            sharesOutstanding = data['quoteResponse']['result'][0][
                'sharesOutstanding']['raw']
            df_fundamentals.loc[df['A'].iloc[x]] = [
                marketCap, eps, sharesOutstanding
            ]

            counter += 1
            print('Successfully added', df['A'].iloc[x])
    except:
        print('Failed to get data for', df['A'].iloc[x])
        failed_stocks.append([df['A'].iloc[x]])

In [88]:
df_fundamentals

         Market Cap    EPS  Shares Outstanding
AA     1.679742e+09 -6.081        1.855800e+08
AACAY  8.162476e+09  0.570        1.208500e+09
AAGIY  1.211558e+11  1.512        3.022250e+09
AAL    7.182715e+09  3.790        4.282000e+08
AAN    2.137017e+09  0.460        6.674450e+07
...             ...    ...                 ...
ZTO    2.244085e+10  0.896        7.819470e+08
ZTS    6.254406e+10  3.110        4.762990e+08
ZUMZ   5.668636e+08  2.304        2.580290e+07
ZUO    1.231050e+09 -0.763        9.370000e+07
ZYME   1.593617e+09 -3.830        4.551890e+07

[2908 rows x 3 columns]

In [ ]:
counter
failed_stocks

In [ ]:
df_fundamentals.to_csv('Fundamentals.csv')

!cp Fundamentals.csv "drive/My Drive/Other/stocks_dataset/"